/* Правило для всех элементов, с которыми не взаимодействовал пользователь*/
form .ng-pristine {
  border: 1px dotted gray;
}

/* Данное правило распространяется на все элементы с которыми взаимодействовал прользователь и которые не прошли проверку */
form .ng-invalid.ng-dirty {
  background-color: lightpink;
}

/* Правило для всех элементов, которые прошли проверку после взаимодействия с пользователем */
form .ng-valid.ng-dirty {
  background-color: lightgreen;
}

div.error, label.error {
  color: red;
  font-weight: bold;
}

h3.modal-title {
  padding-left: 100px;
}

.modal-open {
  overflow-y: scroll;
  padding-right: 0;
}

